body{
    background-image: url(texture.png);
    font-family: "Kimberley";
    font-size: 25px;
}

h1{
    text-align: center;
    border: solid 5px tomato;
}

.nameForm{
    position: absolute;  
}

#rightForm{
    margin-left: 50%;
}

#firstN, #lastN, #firstNJS, #lastNJS, .submitBtn{
    border-radius: 5px;
    font-family: "Kimberley";
    text-align: center;
}

.submitBtn{
    background-color: tomato;
}

#firstN:hover, #lastN:hover, #firstNJS:hover, #lastNJS:hover #submitBtn:hover{
    -webkit-transform:scale(1.1, 1.1)
}

#submitBtn:hover{
    cursor: pointer;
}

#info{
    font-style: italic;
}

#container{
    position: relative;
    height: 350px;
}

@font-face {
    font-family: "Kimberley";
    src: url("Kimberley Bl.otf") format("truetype");
  }