.table{
    position: relative;
    width: 900px;
    height: 400px;
    margin: 100px;
    background-image:url("wood.jpg");
    border: solid 1px black;
    border-radius: 20px;
}

.polaroid{
    border:solid 8px white;
    border-bottom: solid 30px white;
    width: 125px;
    height: 125px;
    position: absolute;
    transition: transform 2s ease;
}

.title{
    background-color: burlywood;
    border: solid 5px brown;
    margin-right: 900px;
}

img{
    width: 100%; /*adatto img al div*/
    height: 100%;
    border:solid 1px black
    
}

body{
    background-image:url("floor.jpg");
}

.didascalia{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: absolute;
    top:130px;
}


h1, h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
    bottom: 10px;
    color:brown;
}

.button{
    background-color: burlywood;
    color: brown;
    border: solid 1px brown;
    border-radius: 10px;
}



#alignButton{
    position:absolute;
    top:10px;
    left: 10px;
}

#bottomText{
    position: fixed;
    bottom: 10px;
    background-color: burlywood;
    border: solid 4px brown;
    margin-right: 900px;
}

#updPh:hover, #alignButton:hover, #uplPh:hover {
    -webkit-transform: scale(1.1,1.1);
    cursor: pointer;
  }

  #uplPh{
    position: fixed;
    left: 30%;
    bottom: 10px;
    font-size: larger;
  }

  #updPh
{
    position: fixed;
    left: 50%;
    bottom: 10px;
    font-size: larger;
}

